$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$bgcol: #2A3033;


.noot{
  transition: all 0.4s ease-in;
  width: 100%;
  //min-height: 300px;
  background-color: #eee;
  //margin-bottom: 20px;
  //padding:20px;
  //max-height: 800px;
  overflow: hidden;
  .box{
    color: #eee;
    //margin:20px;
    min-height:200px;
    //background-color: #ddd;
    min-width: 400px;
    width: 50%;
    float:left;
    //padding:20px;
  }

  .hero{
    transition: all 0.4s ease-in;
    width: 100%;

    padding: 80px 0;
    padding-bottom: 80px;
    margin-top: 0px;
    .inner{
      margin-top: 0px;
      transition: all 0.4s ease-in;
      max-height: 250px;
    }
    h1{
      transition: all 0.2s ease-in;
      max-height: 80px;
      font-family: 'Abel', sans-serif;
      color: #333;
      font-size: 24px;
      margin-bottom: 95px;
      margin-top: 0px;
    }
    p{
      max-width: 500px;
      font-size: 13px;

    }
    button{
      border:0;
      transition: margin-right 0.4s ease-in;
      margin-top: 20px;
      margin-right: 20px;
      outline:0;
      width: 120px;
    }
    button.home{
      transition: all 0.4s ease-in;
      width: 40px;
      margin-left: -40px;
      margin-right:0px;

    }
  }
}

@media screen and (min-width: 768px) {
  .noot{
    .hero{
      h1{
        font-size: 48px;
        margin-bottom: 40px;
      }
      p{
        font-size: 14px;
      }
    }
  }
}

.min{
  //max-height: 40px;
  .hero{
    padding:0;
    .inner{
      //max-height: 0px;
      margin-top: -280px;
    }
    button{
      margin-right: 0px;
      border-radius: 0;
      text-align: center;
    }
    button.home{
      pointer-events: auto;
      margin-left: 0px;
      //margin-right: 0px;
      background-color: #2C6DFF;
    }


  }
}

.kategorier{
  background-color: #3A3E48;
}

a{
  color: #2C6DFF;
}
a:hover{
  color: #1B49AC;
}

button.main{
  

  background-color: #2C6DFF;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  border-radius: 5px;
  border-style: solid;
  border-width:1px;
  border-color: #ccc;
  padding: 10px 20px;
}
button.home{
  pointer-events: none;
  transition: all 4s ease-in;
  background-color: #eee;
  font-family: 'Ubuntu', sans-serif;
  color: #eee;
  border-radius: 5px;
  border-style: solid;
  border-width:1px;
  border-color: #ccc;
  padding: 10px;
  overflow: hidden;
  width:0px;
}

button.main:hover{
  background-color: #1B49AC;
}
button.home:hover{
  //background-color: #1B49AC;
}

.dataheader{
  overflow: hidden;
  background-color: #3A3E48;
  color: #eee;
  .partisettings{
    float:left;
    width: 30%;
    min-width: 250px;
    //background-color: #353943;
    span{
      h2{
        font-family: 'Abel', sans-serif;
        color:#FF42B9;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #FF11AC;
      }
    }
    ul{
      width: 100%;
      list-style-type: none;
      padding:0;
    }
    .partiinfo{
      border: 0;
      padding: 0;
      cursor: pointer;
      text-align: left;
      width: 100%;
      height: 40px;
      background-color: #333741;
      margin-bottom: 20px;
      overflow: hidden;
      .parti{
        transition: all 0.2s ease;
        width:40px;
        padding-right:0px;
        height:40px;
        text-align: center;
        span{

        }
      }
      .partistats{
        padding:5px;
        margin-left: 50px;
        span{
          //display: none;
          font-size: 20px;
          font-family: 'Abel', sans-serif;
          margin-top:3px;
          color: #eee;
          //display: none;
        }
      }
    }
    .partiinfo:hover{
      background-color: #2C3039;
    }
    .partiinfo:focus{
      outline:0;
    }
    .partiinfo:active{
      background-color: #272A32;
      color: #fff;

    }

    .partiinfo.active{
      background-color: #1D1F25;
      .parti{
        width:100px;
        padding-right:60px;
      }
      .partistats{
        span{
          display:none;
        }
      }
    }
  }

  
  .partiinfo.hidetext{
    .partistats{
      span{
        display:none;
      }
    }
  }
  

  .partiinformation{
    margin-top: 63px;
    float: right;
    position: relative;
    right:0;
    width: 10%;
    height: 460px;
    background-color: #eee;
    .partiinformationinner{
      transition: all 0.2s ease;
      width:850%;
      //max-width: 600px;
      position: relative;
      top:0;
      right:750%;
      height:460px;
      background-color: #eee;
      .partifarg{
        float:left;
        height: 100%;
        width: 10px;
        margin-left:10px;
      }
      .partibio{
        padding: 20px;
        float:left;
        height: 100%;
        width:80%;
        color: #333;
        h3{
          margin:0;
          font-family: 'Abel', sans-serif;
          font-size: 24px;
          margin-bottom: 20px;
        }
        ul{
          padding-left: 0;
          list-style-type: none;
          font-family: 'Ubuntu', sans-serif;
          font-family: 'Abel', sans-serif;
        }
      }
    }
  }
}

@media screen and (min-width: 590px) {
  .dataheader{
    .partisettings{
      .partiinfo{
        .parti{
          width:40px;
          padding-right:0px;
        }
        .partistats{
          padding:5px;
          margin-left: 50px;
          span{
            display: inline;

            font-size: 20px;
            font-family: 'Abel', sans-serif;
            margin-top:3px;
            color: #eee;
          }
        }
      }
      .partiinfo.active{
        .parti{
          width: 40px;
          padding-right: 0;

        }
        .partistats{
          span{
            display:inline;
          }
        }
      }
    }
    .partiinformation{
      .partiinformationinner{
        width: 600%;
        right: 500%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .dataheader{
    .partiinformation{
      .partiinformationinner{
        width: 600%;
        right: 500%;
      }
    }
  }
}

@keyframes slide {
    100% { left: 0; }
}
@keyframes slideright {
    0% { right: -500px; }
}

.slide{
  position: relative;
  left: -1000px;
  animation: slide 0.5s forwards;
  animation-delay: 0s;
}

.slideright{
  animation: slideright 0.5s forwards;
  animation-delay: 0s;
}



.navibar{
  width:20px;
  height: 200px;
  background-color: #f00;
}

.content{

  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  .debug{
    background-color: #eee;
    width:100%;
    //height:100px;
    margin-bottom: 20px;
    padding: 20px;
    color: #333;

  }
  .lft{
    flex-grow: 2;
    //background-color: #9D4740;
    //width: 200px;
    //max-width: 200px;
    min-height: 200px;
    max-width:0px;
  }
  .mid{
    margin: 0 20px;
    flex-grow: 4;
    //background-color: #479D40;
    //width: 200px;
    min-height: 200px;
    min-width:300px;
    max-width: 300px;
    //max-width: 200px;
  }
  .rgt{
    flex-grow: 6;
    //  background-color: #479D9D;
    min-width:300px;
    //width: 200px;
    min-height: 200px;
    max-width: 430px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    //max-width: 730px;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: $bgcol;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAIAAAC0tAIdAAAAVUlEQVQokY3PSwoAIQyD4bTiYQY33v9qIjMbwVfbyb/+CESeUrEkOcFPefq2rjyd2wwdmqQAlKc4XsZUcnL1Td1tk9rao4YO6KljuulfOjVDhyYpgA8+MSqrJ1wOCQAAAABJRU5ErkJggg==);
  font-family: 'Ubuntu', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.roow{
  display: flex;
  flex-direction: row;
}
.leftbar{
  flex-grow: 2;

}
.midbar{
  flex-grow: 4;
  //padding-left: 20px;
  padding-right: 20px;
}
.rightbar{
  flex-grow: 6;
  min-width: 530px;
}


.politiker{
  cursor: pointer;
  float:left;
  transition: all 0.2s ease;
  font-family: 'Abel', sans-serif;
  background-color: #ddd;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 300px;
  height: 100px;
  clear: both;
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-width:1px;
  border-bottom-color: #111;

}

@media screen and (min-width: 1000px) {

  .lft{
    max-width: auto;
  }

  .politiker{
    width: 350px;
  }

  .info{
    .bottom{
      width:220px !important;
    }
    .bio{
      .longname{
        font-size: 22px !important;
      }
    }
  }
  
}



.parti{
  //display: flex;
  //align-items: center;
  padding:6px 0;
  justify-content: center;
  float:left;
  width: 35px;
  height: 100%;
  //background-color: #3A6AFF;
  color: #fff;
  font-size: 20px;
  //padding-top:5px;
  //padding-left: 5px;
  
  span{
    color: #fff;
    //background-color: $bgcol;
    width:30px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    //border-top-style: solid;
    //border-top-width:1px;
    //border-top-color: #111;
    height: 30px;
  }
}

.debug{
  color: #fff;
}

.info{
  //transition: all 0.5s ease;
  height:100%;

  float: left;
  position: relative;
  .bio{
    height:100px;
    //background-color: #ddd;
    color: #666;
    padding:5px;
    padding-left:10px;
    width: auto;
    h2{
        font-size: 22px;
        padding-top: 4px;
        padding-bottom: 6px;
      margin:0;
      color: #333;
    }
    span{
      margin-right: 20px;
    }
    ul{
      list-style-type: none;
      padding-left: 0;
    }
    .longname{
        //background-color: #f00;
        padding-top:5px;
        padding-bottom: 5px;
        font-size: 14px;
    }
  }
  .bottom{
    color: #333;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #bbb;
    //transition: all 0.5s ease;
    margin-left:10px;
    position: absolute;
    bottom:0px;
    width:170px;
    height:20px;
    background-color: #ddd;
    .rating{
      float: left;
      width: 100px;
    }
    .misc{
      float:right;
      //width: 100px;
    }
  } 
}

.container{
  //min-width: 960px;
}

.extras-container{
  width:1px;
  height:20px;
  float:left;
  //background-color: #f00;
}

.extras{
  float: left;
  margin-left: 10px;
  height: 100px;
  width: 40px;
  background-color: #1F2326;
  color: #fff;
  border-radius: 10px;
  border-top-style: solid;
  border-top-width:1px;
  border-top-color: #16191B;
  padding: 7px 10px;

}

.selected{
  width:426px;
  transition: all 0.2s ease;
  height: 200px;
}

.bild{
  float:right;
  height:101%;
  //width:130px;
  background-color: #f00;
}

.listan{
  color: #fff;
}

.settings{
  font-family: 'Abel', sans-serif;
  max-width: 400px;
  min-height: 220px;
  background-color: #1F2326;
  color: #fff;
  border-radius: 10px;
  border-top-style: solid;
  border-top-width:1px;
  border-top-color: #16191B;
  //padding: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;

}

.settings-head{
  margin:0;
  padding:10px;
  padding-left: 20px;
  width:100%;
  min-height: 30px;
  background-color: #1B1F22;

  h2{
    margin:0;
    //margin-left:20px;
    color: #ccc;
    font-size: 14px;
    i{
      font-size: 16px;
      //margin-top:-10px;
    }
  }
}

.settings-body{
  padding:15px;
  width: 100%;
  label{
    font-size: 14px;
  }
  select{
    margin-left: 10px;
    appearance: none;
    text-align: center;
    //height:40px;
    display: inline-block;
    padding:2px 15px;
    
    //width: 100%;
    //-webkit-appearance: none;
    //color: #111;
    font-size: 14px;
    //font-weight: 700;
    background-color: #222;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;

  }
  select:hover{
    border-color: #fff;
    background-color: #31373C;
  }
  select:focus{
    outline:0;
  }
  select:before {
    /*
    position: absolute;
    content:"";
    //font-family: FontAwesome;
    background-color: #f00;
    width: 10px;
    height: 10px;
    top:0;
    left:0;
    */

  }
  /*
  input{
    padding:20px;
    width: 100%;
    height: 35px;
    background-color: #DDD;
    color: #111;
    border: none;
    font-size: 18px;
  }*/
}

.settings-button{
  font-family: 'Abel', sans-serif;

  background-color: #1F2326;
  color: #aaa;
  border-radius: 5px;
  border-style: solid;
  border-width:1px;
  border-color: #ccc;
  padding: 2px 10px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.settings-button:hover{
  background-color: #31373C;
  color: #ccc;
}
.settings-button:active{
  background-color: #31373C;
  color: #fff;
  border-color: #fff;
}
.settings-button:focus {outline:0;}

.settings-button.active{
  background-color: #ccc;
  //border-color: #ccc;

  color: #333;
}
.settings-button.active:hover{
  background-color: #eee;
  border-color: #eee;
}
.settings-button.active:active{
  background-color: #eee;
  border-color: #fff;
  color: #666;
}

.settings-button + .inverse{
  background-color: #fff;
  color: #333;
}

.right{
  float: right;
}

.partier{
  margin-top: 50px;
  width: 100%;
  bottom: -2px;
  position: absolute;
  ul{
    white-space-collapsing:discard;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    margin:0;
    li{
      display: inline-block;
      width: 12.6%;
      margin-right:-4px;
      button{

        border-style:solid;
        border-color: #000;
        border-width:5px;
        //box-sizing: border-box;
        position: relative;
        width: 100%;
        margin:0;
        border:0;
        height: 40px;
        /*
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        */
        box-shadow:         0px -10px 0px 0px #222;
        span{
          text-align: center;
          position: absolute;
          top:0px;
          left:0;
          display: block;
          font-size: 20px;
          //background-color: rgba(0, 0, 0, 0.7);
          color: #000;
          height:30px;
          padding-top: 5px;
          //border-radius: 3px;
          width: 100%;
          height:100%;
        }
        

      }
      button::before{
        position: absolute;
        top: -15px;
        border-radius: 5px;
        left: 25%;
        width:50%;
        height:5px;
        content: "";
        background-color: #1a1a1a;
      
      }

      button:hover{
      }
      button:hover::before{
        background-color: #ccc;
      }
      button:active{
        color: #f00;
        //height: 200px;
        box-shadow:         0px -5px 0px 0px #111;
        bottom: -5px;
        span{
          background-color: transparent;
          color: #fff;
        }
      }
      button:active::before{
        top: -20px;
      }

      button:focus {outline:0;}

      .active{
        top:3px;
        box-shadow:         0px -3px 0px 0px #111;
        span{
          background-color: transparent;
          color: #fff;
          text-shadow: 0px 0px 20px #000;
        }
        //padding-top:0px;
        //height:38px;
      }

      .active::before{
        position: absolute;
        top: -18px;
        border-radius: 5px;
        //left: 13px;
        //width:20px;
        height:5px;
        content: "";
        background-color: #fff;
      }
      .active:hover::before{
        background-color: #fff;
      }
      
      .active:active{
        color: #000;
        top: 5px;
        span{
          color: #222;
        }
      }
      .active:active::before{
        background-color: #fff;
        top: -20px;
      }
    }
  }
}

.navigation{
  ul{
    list-style-type: none;
    padding-left: 0;
    font-family: 'Abel', sans-serif;
    li{
      font-size: 20px;
    }
  }
}

.longname{
  //background-color: #f00;
  padding-top:5px;
  padding-bottom: 5px;
  font-size: 16px;
}

.pageheader{
  .container
  h1{
    color:#E857D8;
  }
  min-height: 80px;
}

.rikspolitiker{
  //padding-left:20px;
  .title{
    font-family: 'Anton', sans-serif;
    color:#FF42B9
  }
  .subtitle{
    font-family: 'Abel', sans-serif;
    color:#DDD;
    font-size: 24px;
    //margin-top: 10px;
  }
}

.M{
  background-color: #1B49DD;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAu0lEQVRYhcXWMQqFQBAD0FEbj/Dhn8j71/YewUawEURZ3Z2ZJKYPj3Tp/tNs0WzrEu72n6jD+AvCSdVii/NqBIaobhil+mCg6oCxaisMV5tghlqHSWoF5qlvMFV9hNlqGRaoBVij3mGZeoGV6gmL1QPWq2bWf6Ja5nNl1G1dgnBStdjivBqBIaobRqk+GKg6YKzaCsPVJpih1mGSWoF56htMVR9htlqGBWoB1qh3WKZeYKV6wmL1gPWqme3HSXluG+xGdAAAAABJRU5ErkJggg==);
}
.C{
  background-color: #009933;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAtElEQVRYhcXWPQ6DYBgCYGo69jY9be/p6NDJRKOfvj+A7OQJGy/8vihnXsrV6REVn3cV7qkoLm6rJZih5mGSmoR5agamqmGYrcZggRqANeodLFMvYaU6hsXqANarZ7BFPcAudQ8b1Q3sVVfYrgKYHlHR+lwNFfNShXsqiovbaglmqHmYpCZhnpqBqWoYZqsxWKAGYI16B8vUS1ipjmGxOoD16hlsUQ+wS93DRnUDe9UVtqsA/i0sUQwOT93HAAAAAElFTkSuQmCC);
}
.L{
  background-color: #6BB7EC;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAvElEQVRYhcXWsQ2EQBADwH0K+OgDeqRAWiK4iAo+QUKcDu521zbOrZEzf5a1WDR72cLd6RX1+5uDcFK12OK8GoEhqhtGqT4YqDpgrDoKw9UhmKH2YZLagXnqE0xVb2G22oYFagPWqDUsUy+wUj1hsXrAetXMpldUy3yujLqXLQgnVYstzqsRGKK6YZTqg4GqA8aqozBcHYIZah8mqR2Ypz7BVPUWZqttWKA2YI1awzL1AivVExarB6xXzewPN9V6JLP2j2kAAAAASUVORK5CYII=);
}
.KD{
  background-color: #231977;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAuUlEQVRYhcXWMQqFQBAD0NFSe+HXHtI722v9G0GU1d2ZSWL68EiXbv4tFs04TOFu/4m67WsQTqoWW5xXIzBEdcMo1QcDVQeMVVthuNoEM9Q6TFIrME99g6nqI8xWy7BALcAa9Q7L1AusVE9YrB6wXjWz/hPVMp8ro47DFISTqsUW59UIDFHdMEr1wUDVAWPVVhiuNsEMtQ6T1ArMU99gqvoIs9UyLFALsEa9wzL1AivVExarB6xXzewPWIR2LjTncHIAAAAASUVORK5CYII=);
}
.MP{
  background-color: #83CF39;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAvElEQVRYhcXWIQ6FQBAD0AGFQPzr/PNxQK6CQCAxJASysDszbalvXuraTfPfolmXLdztP1HH3xCEk6rFFufVCAxR3TBK9cFA1QFj1VYYrjbBDLUOk9QKzFPfYKr6CLPVMixQC7BGvcMy9QIr1RMWqwesV82s/0S1zOfKqOuyBeGkarHFeTUCQ1Q3jFJ9MFB1wFi1FYarTTBDrcMktQLz1DeYqj7CbLUMC9QCrFHvsEy9wEr1hMXqAetVM9sBLCx5t1J0Vm0AAAAASUVORK5CYII=);
}
.S{
  background-color: #EE2020;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAuElEQVRYhcXWsQ2AMBADQIMYg4L956JmghQ0SAiUkPy/37i3Tu48HdsGb/ZS3N35F3VdFiccVOFbHFc9MEU1wyzVBhNVA8xVR2G6OgRnqH04Se3AeeoXnKo24Wy1DgvUCqxR37BMfcBK9YbF6gXrVQDzLyoinyui7qU44aAK3+K46oEpqhlmqTaYqBpgrjoK09UhOEPtw0lqB85Tv+BUtQlnq3VYoFZgjfqGZeoDVqo3LFYvWK8COAFOpXlav/8pSAAAAABJRU5ErkJggg==);
}
.V{
  background-color: #AF0000;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAArUlEQVRYhcXWsQ2AMBBDUcMO7D8Cg7EETSQECiR3Zxv3X6/1siO/o9Cuv6hbGi6qyMF1NQNT1DDMUmMwUQ3AXHUWpqtTsEIdwyJ1AOvUL1iqvsJqtQ8b1A7sUZ+wTb3BTvWCzWqD/SqA9RcVlc9VUY80XFSRg+tqBqaoYZilxmCiGoC56ixMV6dghTqGReoA1qlfsFR9hdVqHzaoHdijPmGbeoOd6gWb1Qb7VQAnxRYo6hhfwsYAAAAASUVORK5CYII=);
}
.SD{
  background-color: #DDDD00;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAtklEQVRYhcXWMQ7DMAxDUda3yP3Pldm3KLoECBI4sSWRrPaPB2767DvS13tLt/myom7bNxkXVeQW19UMTFHDMEuNwUQ1AHPVVZiuLsEKdQ6L1AmsU99gqfoIq9UxbFAHsEe9wzb1AjvVEzarB+xXAbS/qKj8XBW195aEiypyi+tqBqaoYZilxmCiGoC56ipMV5dghTqHReoE1qlvsFR9hNXqGDaoA9ij3mGbeoGd6gmb1QP2qwB+3Bt42tS8IScAAAAASUVORK5CYII=);
}

