$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import url(https://fonts.googleapis.com/css?family=Anton);
// endbower

$bgcol: #2A3033;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: $bgcol;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAIAAAC0tAIdAAAAVUlEQVQokY3PSwoAIQyD4bTiYQY33v9qIjMbwVfbyb/+CESeUrEkOcFPefq2rjyd2wwdmqQAlKc4XsZUcnL1Td1tk9rao4YO6KljuulfOjVDhyYpgA8+MSqrJ1wOCQAAAABJRU5ErkJggg==);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



.politiker{
  float:left;
  transition: all 0.5s ease;
  font-family: 'Abel', sans-serif;
  background-color: #ddd;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 400px;
  height: 100px;
  clear: both;
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-width:1px;
  border-bottom-color: #111;

}

.parti{
  display: flex;
  //align-items: center;
  //justify-content: center;
  float:left;
  width: 35px;
  height: 100%;
  //background-color: #3A6AFF;
  color: #fff;
  font-size: 20px;
  padding-top:5px;
  padding-left: 5px;
  
  span{
    color: #fff;
    background-color: $bgcol;
    width:30px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-style: solid;
    border-top-width:1px;
    border-top-color: #111;
    height: 30px;
  }
}

.debug{
  color: #fff;
}

.info{
  //transition: all 0.5s ease;
  height:100%;

  float: left;
  position: relative;
  .bio{
    height:100px;
    //background-color: #ddd;
    color: #666;
    padding:5px;
    padding-left:10px;
    width: auto;
    h2{
      margin:0;
      color: #333;
    }
    span{
      margin-right: 20px;
    }
    ul{
      list-style-type: none;
      padding-left: 0;
    }
  }
  .bottom{
    color: #333;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #bbb;
    //transition: all 0.5s ease;
    margin-left:10px;
    position: absolute;
    bottom:0px;
    width:270px;
    height:20px;
    background-color: #ddd;
    .rating{
      float: left;
      width: 100px;
    }
    .misc{
      float:right;
      //width: 100px;
    }
  } 
}

.container{
  min-width: 960px;
}

.extras{
  float: left;
  margin-left: 10px;
  height: 100px;
  width: 40px;
  background-color: #1F2326;
  color: #fff;
  border-radius: 10px;
  border-top-style: solid;
  border-top-width:1px;
  border-top-color: #16191B;
  padding: 7px 10px;

}

.selected{
  width:476px;
  transition: all 0.2s ease;
  height: 200px;
}

.bild{
  float:right;
  height:101%;
  //width:130px;
  background-color: #f00;
}

.listan{
  color: #fff;
}

.settings{
  font-family: 'Abel', sans-serif;
  width: 100%;
  height: 400px;
  background-color: #1F2326;
  color: #fff;
  border-radius: 10px;
  border-top-style: solid;
  border-top-width:1px;
  border-top-color: #16191B;
  padding: 20px;
}

.pageheader{
  .container
  h1{
    color:#E857D8;
  }
  height: 80px;
}

.rikspolitiker{
  padding-left:20px;
  .title{
    font-family: 'Anton', sans-serif;
    color:#BF2D89
  }
  .subtitle{
    font-family: 'Abel', sans-serif;
    color:#FFF;
    font-size: 24px;
  }
}

.M{
  background-color: #1B49DD;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAu0lEQVRYhcXWMQqFQBAD0FEbj/Dhn8j71/YewUawEURZ3Z2ZJKYPj3Tp/tNs0WzrEu72n6jD+AvCSdVii/NqBIaobhil+mCg6oCxaisMV5tghlqHSWoF5qlvMFV9hNlqGRaoBVij3mGZeoGV6gmL1QPWq2bWf6Ja5nNl1G1dgnBStdjivBqBIaobRqk+GKg6YKzaCsPVJpih1mGSWoF56htMVR9htlqGBWoB1qh3WKZeYKV6wmL1gPWqme3HSXluG+xGdAAAAABJRU5ErkJggg==);
}
.C{
  background-color: #009933;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAtElEQVRYhcXWPQ6DYBgCYGo69jY9be/p6NDJRKOfvj+A7OQJGy/8vihnXsrV6REVn3cV7qkoLm6rJZih5mGSmoR5agamqmGYrcZggRqANeodLFMvYaU6hsXqANarZ7BFPcAudQ8b1Q3sVVfYrgKYHlHR+lwNFfNShXsqiovbaglmqHmYpCZhnpqBqWoYZqsxWKAGYI16B8vUS1ipjmGxOoD16hlsUQ+wS93DRnUDe9UVtqsA/i0sUQwOT93HAAAAAElFTkSuQmCC);
}
.L{
  background-color: #6BB7EC;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAvElEQVRYhcXWsQ2EQBADwH0K+OgDeqRAWiK4iAo+QUKcDu521zbOrZEzf5a1WDR72cLd6RX1+5uDcFK12OK8GoEhqhtGqT4YqDpgrDoKw9UhmKH2YZLagXnqE0xVb2G22oYFagPWqDUsUy+wUj1hsXrAetXMpldUy3yujLqXLQgnVYstzqsRGKK6YZTqg4GqA8aqozBcHYIZah8mqR2Ypz7BVPUWZqttWKA2YI1awzL1AivVExarB6xXzewPN9V6JLP2j2kAAAAASUVORK5CYII=);
}
.KD{
  background-color: #231977;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAuUlEQVRYhcXWMQqFQBAD0NFSe+HXHtI722v9G0GU1d2ZSWL68EiXbv4tFs04TOFu/4m67WsQTqoWW5xXIzBEdcMo1QcDVQeMVVthuNoEM9Q6TFIrME99g6nqI8xWy7BALcAa9Q7L1AusVE9YrB6wXjWz/hPVMp8ro47DFISTqsUW59UIDFHdMEr1wUDVAWPVVhiuNsEMtQ6T1ArMU99gqvoIs9UyLFALsEa9wzL1AivVExarB6xXzewPWIR2LjTncHIAAAAASUVORK5CYII=);
}
.MP{
  background-color: #83CF39;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAvElEQVRYhcXWIQ6FQBAD0AGFQPzr/PNxQK6CQCAxJASysDszbalvXuraTfPfolmXLdztP1HH3xCEk6rFFufVCAxR3TBK9cFA1QFj1VYYrjbBDLUOk9QKzFPfYKr6CLPVMixQC7BGvcMy9QIr1RMWqwesV82s/0S1zOfKqOuyBeGkarHFeTUCQ1Q3jFJ9MFB1wFi1FYarTTBDrcMktQLz1DeYqj7CbLUMC9QCrFHvsEy9wEr1hMXqAetVM9sBLCx5t1J0Vm0AAAAASUVORK5CYII=);
}
.S{
  background-color: #EE2020;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAuElEQVRYhcXWsQ2AMBADQIMYg4L956JmghQ0SAiUkPy/37i3Tu48HdsGb/ZS3N35F3VdFiccVOFbHFc9MEU1wyzVBhNVA8xVR2G6OgRnqH04Se3AeeoXnKo24Wy1DgvUCqxR37BMfcBK9YbF6gXrVQDzLyoinyui7qU44aAK3+K46oEpqhlmqTaYqBpgrjoK09UhOEPtw0lqB85Tv+BUtQlnq3VYoFZgjfqGZeoDVqo3LFYvWK8COAFOpXlav/8pSAAAAABJRU5ErkJggg==);
}
.V{
  background-color: #AF0000;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAArUlEQVRYhcXWsQ2AMBBDUcMO7D8Cg7EETSQECiR3Zxv3X6/1siO/o9Cuv6hbGi6qyMF1NQNT1DDMUmMwUQ3AXHUWpqtTsEIdwyJ1AOvUL1iqvsJqtQ8b1A7sUZ+wTb3BTvWCzWqD/SqA9RcVlc9VUY80XFSRg+tqBqaoYZilxmCiGoC56ixMV6dghTqGReoA1qlfsFR9hdVqHzaoHdijPmGbeoOd6gWb1Qb7VQAnxRYo6hhfwsYAAAAASUVORK5CYII=);
}
.SD{
  background-color: #DDDD00;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAtklEQVRYhcXWMQ7DMAxDUda3yP3Pldm3KLoECBI4sSWRrPaPB2767DvS13tLt/myom7bNxkXVeQW19UMTFHDMEuNwUQ1AHPVVZiuLsEKdQ6L1AmsU99gqfoIq9UxbFAHsEe9wzb1AjvVEzarB+xXAbS/qKj8XBW195aEiypyi+tqBqaoYZilxmCiGoC56ipMV5dghTqHReoE1qlvsFR9hNXqGDaoA9ij3mGbeoGd6gmb1QP2qwB+3Bt42tS8IScAAAAASUVORK5CYII=);
}

//
// Checkboxes
// --------------------------------------------------


$font-family-icon: 'FontAwesome' !default;
$fa-var-check: "\f00c" !default;
$check-icon: $fa-var-check !default;

@mixin checkbox-variant($parent, $color) {
  #{$parent} input[type="checkbox"]:checked + label,
  #{$parent} input[type="radio"]:checked + label {
    &::before {
      background-color: $color;
      border-color: $color;
    }
    &::after{
      color: #fff;
    }
  }
}

@mixin checkbox-variant-indeterminate($parent, $color) {
  #{$parent} input[type="checkbox"]:indeterminate + label,
  #{$parent} input[type="radio"]:indeterminate + label {
    &::before {
      background-color: $color;
      border-color: $color;
    }
    &::after{
      background-color: #fff;
    }
  }
}



.checkbox{
  padding-left: 20px;

  label{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;

    &::before{
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid $input-border;
      border-radius: 3px;
      background-color: #fff;
      @include transition(border 0.15s ease-in-out, color 0.15s ease-in-out);
    }

    &::after{
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: $input-color;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    opacity: 0;
    z-index: 1;

    &:focus + label::before{
      @include tab-focus();
    }

    &:checked + label::after{
      font-family: $font-family-icon;
      content: $check-icon;
    }

    &:indeterminate + label::after{
      display: block;
      content: "";
      width: 10px;
      height: 3px;
      background-color: #555555;
      border-radius: 2px;
      margin-left: -16.5px;
      margin-top: 7px;
    }

    &:disabled + label{
      opacity: 0.65;

      &::before{
        background-color: $input-bg-disabled;
        cursor: not-allowed;
      }
    }

  }

  &.checkbox-circle label::before{
    border-radius: 50%;
  }

  &.checkbox-inline{
    margin-top: 0;
  }
}

@include checkbox-variant('.checkbox-primary', $brand-primary);
@include checkbox-variant('.checkbox-danger', $brand-danger);
@include checkbox-variant('.checkbox-info', $brand-info);
@include checkbox-variant('.checkbox-warning', $brand-warning);
@include checkbox-variant('.checkbox-success', $brand-success);


@include checkbox-variant-indeterminate('.checkbox-primary', $brand-primary);
@include checkbox-variant-indeterminate('.checkbox-danger', $brand-danger);
@include checkbox-variant-indeterminate('.checkbox-info', $brand-info);
@include checkbox-variant-indeterminate('.checkbox-warning', $brand-warning);
@include checkbox-variant-indeterminate('.checkbox-success', $brand-success);

//
// Radios
// --------------------------------------------------

@mixin radio-variant($parent, $color) {
  #{$parent} input[type="radio"]{
    + label{
      &::after{
        background-color: $color;
      }
    }
    &:checked + label{
      &::before {
        border-color: $color;
      }
      &::after{
        background-color: $color;
      }
    }
  }
}

.radio{
  padding-left: 20px;

  label{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;

    &::before{
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid $input-border;
      border-radius: 50%;
      background-color: #fff;
      @include transition(border 0.15s ease-in-out);
    }

    &::after{
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: $input-color;
      @include scale(0, 0);

      @include transition-transform(.1s cubic-bezier(.8,-0.33,.2,1.33));
      //curve - http://cubic-bezier.com/#.8,-0.33,.2,1.33
    }
  }

  input[type="radio"]{
    opacity: 0;
    z-index: 1;

    &:focus + label::before{
      @include tab-focus();
    }

    &:checked + label::after{
      @include scale(1, 1);
    }

    &:disabled + label{
      opacity: 0.65;

      &::before{
        cursor: not-allowed;
      }
    }

  }

  &.radio-inline{
    margin-top: 0;
  }
}

@include radio-variant('.radio-primary', $brand-primary);
@include radio-variant('.radio-danger', $brand-danger);
@include radio-variant('.radio-info', $brand-info);
@include radio-variant('.radio-warning', $brand-warning);
@include radio-variant('.radio-success', $brand-success);


input[type="checkbox"],
input[type="radio"] {
  &.styled:checked + label:after {
    font-family: $font-family-icon;
    content: $check-icon;
  }
  .styled:checked + label {
    &::before {
      color: #fff;
    }
    &::after {
      color: #fff;
    }
  }
}