<div ng-class="{min: dataView.isActive}" class="noot">
  <div class="container">
    <div class="hero">
      <div class="inner">
        <h1>Datadriven granskning av riksdagen.</h1>
        <p>Här hittar du information om våra kära folkvalda politiker. All information är automatiskt generererad direkt från <a href="http://data.riksdagen.se/">riksdagens öppna data</a>.</p>
        <p>Informationen inkluderar bland annat ledamöternas ordförråd, aktivitet, närvaro och mycket mer.</p>
        <p>Målet är att presentera svåröverblickbar information på ett tydligt och underhållande sätt och att få fler intresserade av riksdagens demokratiska arbete.</p>  
      </div>
      <button ng-click="dataView.deactivate()" class="home"><i class="fa fa-home" aria-hidden="true"></i>
</button>
      <button ng-click="dataView.activate()" class="main">Partier</button>
      <button ng-click="" class="main">Ledamöter</button>
    </div>
  </div>
  
</div>
<div class="dataheader">
  <div class="container">
    <div ng-if="dataView.isActive" class="partisettings slide">
      <span class=""><h2>PARTIER</h2></span>
      <ul>
        <li ng-repeat="(key, parti) in partidata">
          <button ng-click="dataView.selectParti(key)" ng-class="{active: dataView.isActiveParti(key), hidetext: dataView.hasActiveParti()}" class="partiinfo">
            <div class="parti {{key}}"><span>{{key}}</span></div>
            <div class="partistats">
              <span>{{partinamn[key]}}</span>
            </div>
          </button>
        </li>
      </ul>
    </div>
    <div ng-if="dataView.hasActiveParti() && dataView.isActive" class="slideright partiinformation">
      <div class="partiinformationinner">
        <div class="partifarg {{dataView.activeParti}}">
          
        </div>
        <div class="partibio">
          <h3>{{partinamn[dataView.activeParti]}}</h3>
          <ul class="">
            <li>123</li>
            <li>456</li>
            <li>789</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="noot kategorier">
  <div class="container">
    <div class="box">
      memes
    </div>
    <div class="box">
      memes
    </div>
  </div>
</div>
<div class="noot kategorier">
  <div class="debug">
    <table class="table">
        <tr>
          <th>Ord</th>
          <th>V</th>
          <th>S</th>
          <th>MP</th>
          <th>SD</th>
          <th>C</th>
          <th>L</th>
          <th>M</th>
          <th>KD</th>
        </tr>
        <tr ng-repeat="ord in vardeord">
          <td>{{ord}}</td>
          <td ng-repeat="(key, parti) in partidata">
            {{parti.ordlista[parti.ord[ord]].antal / parti.antalOrd * 10000 | number : 2}}
          </td>
        </tr>
      </table>
  </div>
  <div class="debug">
    <table class="table">
        <tr>
          <th>Ord</th>
          <th>V</th>
          <th>S</th>
          <th>MP</th>
          <th>SD</th>
          <th>C</th>
          <th>L</th>
          <th>M</th>
          <th>KD</th>
        </tr>
        <tr ng-repeat="ord in ordlista">
          <td>{{ord}}</td>
          <td ng-repeat="(key, parti) in partidata">
            {{parti.ordlista[parti.ord[ord]].antal / parti.antalOrd * 10000 | number : 2}}
          </td>
        </tr>
      </table>
  </div>

</div>